body {
    background: linear-gradient(
        to right, #3f5efb , #fc66bf
    );

}

.wrapper {
    width: 100%;

    margin: auto;

    text-align: center;

}

h1 {
    margin: 20px;
    font-size: 6rem;
    color: rgb(208, 214, 218);
}

.dice {
    margin: 0px 50px ;
    text-align: center;
    display: inline-block;
}

p {
    font-size: 2.5rem;
    color: rgb(208, 214, 218);
}
img {
    width: 320px;
}